.card-base {
	height: 300px;
	width: 200px;
	background-color: var(--card-background);
	color: var(--primary);
	border: 1px solid var(--divider);
	border-radius: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	cursor: pointer;
}

.card-block {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10px;
}

.card-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
