@import '../../App.css';

.orders {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.order-card-create {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--card-background);
	border-radius: 30px;
	padding: 20px;
	height: 300px;
	width: 200px;
	cursor: pointer;
}
